body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, select, input {
    margin: 10px 0;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

.gray {
    color: gray;
}

#toggleListButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
}

#animalList {
    max-height: 150px;
    overflow-y: auto;
    text-align: left;
    margin-bottom: 20px;
}

#animalList ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#animalList li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

        .popup {
            display: none;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid #ccc;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
        .popup.active {
            display: block;
        }
        #shareLink {
            display: none;
        }
